@media (min-width: 801px) {

    .tabla {
        display: flex;
        flex-direction: row;
    }

    .flex {
        display: flex;
        flex-direction: column;
        width: 5%;
        background-color: #F7CAAC;
        text-align: center;
        border: 1px solid black;

    }

    .flex-elemento {
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
    }


    .columna2 {
        display: flex;
        flex-direction: column;
        width: 5%;
        background-color: #e88b4d;
        text-align: center;
        border: 1px solid black;
    }


    .col  {

        display: flex;
        flex-direction: column;
        width: 5%;
        background-color: #e5e84d;
        text-align: center;
        border: 1px solid black;


    }
    .elemento{
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;

    }
}