@media (min-width: 801px) {

    .Tabla {
        display: flex;
        flex-direction: row;
    
    }

    .flex {
        display: flex;
        flex-direction: column;
        width: 5%;
        background-color: #F7CAAC;
        text-align: center;
        border: 1px solid black;
        

    }

    .flex-elemento {
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
    }

    .flex-elemento2 {
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
        background-color: #e88b4d;

    }

    .columna2 {
        display: flex;
        flex-direction: column;
        width: 5%;
        text-align: center;
        border: 1px solid black;
    }


    .cont-amarillo{
        display: flex;
        grid-template-columns: auto;

    }
    
    .col{

        display: flex;
        flex-direction: column;
        padding-top: 65px;
    }


    .elemento {
        background-color: yellow;
        padding: 15px 30px;
        border: 1px solid black;

    }
}