@media (min-width: 801px) {

    .Tabla {
        display: flex;
        flex-direction: row;
        height: 100%;

    }

    .col{
        height: 500px;
        width: 25%;
        border: 1px solid black;
        margin: 10px;
    }

    .elemento {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 15%;
        border: 1px solid black;
        background-color: #7fcaac;
    }

    .elemento2 {
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
        background-color: #e88b4d;

    }

    .elemento3 {
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
        background-color:#FFFF00 ;
    }


   .elementoV{
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
        background-color: #86ff61;
    }

    .elementoM{
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
        background-color: #c171fe;
    }

    .elementoF{
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
        background-color: #ff59ca;
    }

    .elementoA{
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
        background-color: #5ad0f8;
    }

   .elementoC{
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
        background-color: #00ccff;
    }

    .elemento5 {
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
        background-color: #ff59ca;
    }

    .elemento6 {
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
        background-color: #c171fe;
    }

    .elemento7 {
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
        background-color: #86ff61;
    }

    .elemento8 {
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
        background-color: #5ad0f8;
    }

    .elemento9 {
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
        background-color: #ff59ca;
    }

    .elemento10 {
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
        background-color: #c171fe;
    }

    .elemento11 {
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1px solid black;
        background-color: #86ff61;
    }

    .elemento12 {
        display: flex;
        flex-direction: column;
        padding: 15%;
        border: 1
   }


    .cont-amarillo .elemento {
        background-color: #FFFF00;
        padding: 15px 30px;
        border: 1px solid black;

    }

    .cont-3 {
        display: flex;
        grid-template-columns: auto;
    }

    .cont-3 .col {

        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }


    .cont-3 .elementoF,
    .cont-3 .elementoM,
    .cont-3 .elementoV,
    .cont-3 .elemento {

        padding: 15px 30px;
        border: 1px solid black;
    }

   

    .cont-4 .elemento {
        background-color: rgb(86, 255, 255);
        padding: 15px 30px;
        border: 1px solid black;
    }

    .col{
        height: 100%;
    }
}