@media (max-width: 600px) {

  .tabla, .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .col{
    display: flex;
    flex-direction: column;
    gap: 200px;
  }

  .tabla, .col, .seccion1 , .seccion2{
    display: flex;
    flex-direction: column;
  }





    
}